 .u-section-1 {
  background-image: url("images/2023-11-1900.30.10.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 496px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 313px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 235px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 148px;
  }
} .u-section-2 {
  background-image: url("images/2023-11-1900.27.59.png");
}

.u-section-2 .u-sheet-1 {
  min-height: 664px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 548px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 420px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 315px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 198px;
  }
}